<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Super Awesome</title>

  <!-- CSS (load bootstrap from a CDN) -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <style>
  .panel{
    max-width: 430px;
    margin: 0 auto 20px;
    border-radius: 8px;
  }
  .panel form {
    padding: 35px;
  }
  .panel h3{
    margin: 35px 0 0;
    color: #563d7c;
  }
  .btn-primary {
    color: #fff;
    background-color: #79589f;
    border:none;
  }  

  .btn-primary:focus {
    color: #fff;
    background-color: #79589f;
    border:none;
  }

  .form-control:focus {
        border-color: #79589f;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(255, 100, 255, 0.5);
  }

  .amt.active{
    background-color: #79589f;
    color: white;
  }

  </style>
  
</head>
<body style="background-color:#563d7c">

<div class="container">  
  <div class="center-block" style="width:200px;margin-top:30px;">
    <img src="https://s3.ap-south-1.amazonaws.com/fbmock/mocktestprofile.png" width="200" height="200"/>
  </div>
  <div class="content">
    <div class="panel">
      <h3 class="text-center"><span id="amount_display">Rs. 25</span>
        <span id="tests" style="color:#563d7c; font-size:14px"> for 5 tests</span>
      </h3>
      <form id="paymentform" action="/payments/submitAmount" method="post" role="form">
          
          <div class="form-group text-center">              
              <div class="btn-group btn-group-lg btn-group-justified">
                <a id="btn25" class="btn btn-default amt active">25</a>
                <a id="btn50" class="btn btn-default amt ">50</a>
                <a id="btn100" class="btn btn-default amt">100</a>
              </div>
              <label style="color:#563d7c">Choose amount</label>

          </div>

          <input type="hidden" id="amount" value="25">
          <input type="hidden" id="fbid" value="<%= recipientId %>">

          
          <button style="margin-top:20px" class="btn btn-primary btn-lg btn-block" name="commit" tabindex="3" type="submit">Pay</button>
      </form>
    </div>
  </div>

</div> 

    

</body>

<script>

        $(document).ready(function(){                

                $('#paymentform').submit(function(event) {
                    event.preventDefault();
                    
                    var formData = {                        
                        'fbid'   : $('#fbid').val,
                        'amount'    : $('#amount').val()
                    };

                    
                    $.ajax({
                        type        : 'POST',
                        url         : '/payments/submitAmount',
                        data        : formData,
                        dataType    : 'json',
                        encode      : true                        
                    }).done(function(data) {

                            var postData = data.postData;
                            var form = document.createElement("form");
                            form.method = "POST";
                            form.action = "https://secure.paytm.in/oltp-web/processTransaction";
                            postData = JSON.parse(JSON.stringify(postData));
                            for (var key in postData) {
                                var element1 = document.createElement("input");
                                element1.value = postData[key];
                                element1.name = key;
                                form.appendChild(element1);
                            }
                            document.body.appendChild(form);
                            form.submit();                           

                    });
                    
                });//paymentform submit


                $('#btn25').click(function(event){
                  $('#btn25').removeClass('active');
                  $('#btn50').removeClass('active');
                  $('#btn100').removeClass('active');

                  $('#btn25').addClass('active');

                  $('#amount_display').text('Rs. 25');
                  $('#tests').text(' for 5 tests');
                  $('#amount').val("25");


                });


                $('#btn50').click(function(event){
                  $('#btn25').removeClass('active');
                  $('#btn50').removeClass('active');
                  $('#btn100').removeClass('active');

                  $('#btn50').addClass('active');

                  $('#amount_display').text('Rs. 50');
                  $('#tests').text(' for 10 tests');
                  $('#amount').val("50");


                });

                $('#btn100').click(function(event){
                  $('#btn25').removeClass('active');
                  $('#btn50').removeClass('active');
                  $('#btn100').removeClass('active');

                  $('#btn100').addClass('active');

                  $('#amount_display').text('Rs. 100');
                  $('#tests').text(' for 20 tests');
                  $('#amount').val("100");


                });




                


            });

</script>

</html>