<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Mock Test</title>

  <!-- CSS (load bootstrap from a CDN) -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="https://s3.ap-south-1.amazonaws.com/fbmock/mocktestprofile_favicon.jpg" type="image/gif" sizes="16x16">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <style>
  .panel{
    max-width: 430px;
    margin: 0 auto 20px;
    border-radius: 8px;
    height:450px;
    overflow-y:scroll;
  }
  .panel form {
    padding: 35px;     
  }
  .panel h3{
    margin: 35px 0 15px 0;
    color: #563d7c;
  }
  .btn-primary {
    color: #fff;
    background-color: #79589f;
    border:none;
  }

  .btn-primary:hover {
    color: #000;
    background-color: #e6e6e6;
    border:none;
  }

  .btn-primary:focus {
    color: #fff;
    background-color: #79589f;
    border:none;
  }

  .form-control:focus {
        border-color: #79589f;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(255, 100, 255, 0.5);
  }

  .amt.active{
    background-color: #79589f;
    color: white;
  }

  .logo-sfdc {
    display: block;
    margin: 100px auto 0px auto;
    width: 100%;
    max-width: 430px;    
    padding: 26.66667px 0;
    text-align: center;
    background: -webkit-linear-gradient(90deg,rgba(255,255,255,0) 0,rgba(255,255,255,0.2) 50%,rgba(255,255,255,0) 100%);
    background: linear-gradient(90deg,rgba(255,255,255,0) 0,rgba(255,255,255,0.2) 50%,rgba(255,255,255,0) 100%);
    background-size: 100% 1px;
    background-repeat: no-repeat;
  }

  .legal {
    list-style: none;
    margin-top: 0px;
    padding: 0;
    text-align: center;
  } 

  .legal li, .legal a {
    font-size: 12px;
    font-weight: bold;
    text-transform: none;
    letter-spacing: 0;
    color: rgba(255,255,255,0.6);
  }

  .legal li {
    display: inline-block;
    margin: 5px;
  }

  </style>
  
</head>
<body style="background-color:#563d7c">

<div class="container">  
  <div class="center-block" style="width:200px;margin-top:30px;">
    <a href="https://fbmocktest.herokuapp.com/">
      <img src="https://s3.ap-south-1.amazonaws.com/fbmock/mocktestprofile.png" width="200" height="200"/>
    </a>
  </div>
  <div class="content">
    <div class="panel">
      <ul class="nav nav-tabs">
        <li id="mocktesttab" class="active" style="cursor:pointer"><a>Report</a></li>
        <li id="paymenttab"  style="cursor:pointer"  ><a>Payment</a></li>  
        <li id="profiletab"  style="cursor:pointer"  ><a>Profile</a></li>   
      </ul>
      <div id="main_panel">
        <div style="padding: 10px; height: 300px; overflow-y:scroll;">
          <h4>Answers ( Your Score: 4/10 )</h4>
            <table class="table table-striped">
             <tr>
               <td>1</td>
               <td>A</td>
               <td>You answered A</td>
             </tr>
             <tr>
               <td>2</td>
               <td>B</td>
               <td>You answered A</td>
             </tr>
             <tr>
               <td>2</td>
               <td>B</td>
               <td>You answered A</td>
             </tr>
             <tr>
               <td>2</td>
               <td>B</td>
               <td>You answered A</td>
             </tr>
             <tr>
               <td>2</td>
               <td>B</td>
               <td>You answered A</td>
             </tr>
             <tr>
               <td>2</td>
               <td>B</td>
               <td>You answered A</td>
             </tr>
             <tr>
               <td>2</td>
               <td>B</td>
               <td>You answered A</td>
             </tr>
             <tr>
               <td>2</td>
               <td>B</td>
               <td>You answered A</td>
             </tr>
             <tr>
               <td>2</td>
               <td>B</td>
               <td>You answered A</td>
             </tr>
             <tr>
               <td>2</td>
               <td>B</td>
               <td>You answered A</td>
             </tr>             
           </table> 
        </div>
        <a class="btn btn-primary btn-lg btn-block" style="width:300px; margin: 20px auto 0px auto;" href="https://fbmocktest.herokuapp.com/mocktest/test">Start Next Test</a>
        
      </div>
      <div id="payment_panel" style="display:none;">
        <h3 class="text-center"><span id="amount_display">Rs. 25</span>
          <span id="tests" style="color:#563d7c; font-size:14px"> for 5 tests</span>
        </h3>
        <form id="paymentform" action="/mocktest/profile" method="post" role="form">
            
            <div class="form-group text-center">              
                <div class="btn-group btn-group-lg btn-group-justified">
                  <a id="btn25" class="btn btn-default amt active">25</a>
                  <a id="btn50" class="btn btn-default amt ">50</a>
                  <a id="btn100" class="btn btn-default amt">100</a>
                </div>
                <label style="color:#563d7c">Choose amount</label>

            </div>

            <input type="hidden" id="amount" value="25">    

            
            <button style="margin-top:20px" id="pay" class="btn btn-primary btn-lg btn-block" name="commit" tabindex="3" type="submit">Pay</button>
        </form>      
        
      </div>
      <div id="profile_panel" style="display:none; padding:20px">
           <h4>Name: Test User</h4>  
           <h4>Mobile: 9005835708</h4>  
           <h4>Overall Score: 76</h4>
           <h4>Current Balance: Rs. 95</h4>
           <h3>Payment History</h3>
           <table class="table table-striped">
             <tr>
               <td>Today</td>
               <td>Rs.25</td>
             </tr>
             <tr>
               <td>10/10/2017</td>
               <td>Rs.50</td>
             </tr>
             <tr>
               <td>15/09/2017</td>
               <td>Rs.50</td>
             </tr>
           </table> 
      </div>  
    </div>
  </div>

</div> 

<footer class="logo-sfdc">
    <ul class="legal">
      <li><a href="https://fbmocktest.herokuapp.com/terms-and-condition.html">Terms of Service</a></li>
      <li><a href="https://fbmocktest.herokuapp.com/privacy-policy.html">Privacy</a></li><li><a href="https://fbmocktest.herokuapp.com/about-us.html">About Us</a></li>
      <li><a href="https://fbmocktest.herokuapp.com/contact-us.html">Contact Us</a></li>
    </ul>
    <ul class="legal">
        <li>© 2017 Kushilav Technical Institute</li>
    </ul>
</footer>
    

</body>

<script type="text/javascript">
  
$(document).ready(function(){

  
  $('#mocktesttab').click(function(event){                  
                  $('#mocktesttab').removeClass('active');
                  $('#paymenttab').removeClass('active');
                  $('#profiletab').removeClass('active');

                  $('#mocktesttab').addClass('active');

                  $('#main_panel').show();
                  $('#payment_panel').hide();
                  $('#profile_panel').hide();
  });


  $('#paymenttab').click(function(event){                  
                  $('#mocktesttab').removeClass('active');
                  $('#paymenttab').removeClass('active');
                  $('#profiletab').removeClass('active');
                  $('#paymenttab').addClass('active');

                  $('#main_panel').hide();
                  $('#payment_panel').show();
                  $('#profile_panel').hide();
  });


  $('#profiletab').click(function(event){                  
                  $('#mocktesttab').removeClass('active');
                  $('#paymenttab').removeClass('active');
                  $('#profiletab').removeClass('active');
                  $('#profiletab').addClass('active');

                  $('#main_panel').hide();
                  $('#payment_panel').hide();
                  $('#profile_panel').show();
  });


                $('#btn25').click(function(event){
                  $('#btn25').removeClass('active');
                  $('#btn50').removeClass('active');
                  $('#btn100').removeClass('active');

                  $('#btn25').addClass('active');

                  $('#amount_display').text('Rs. 25');
                  $('#tests').text(' for 5 tests');
                  $('#amount').val("25");


                });


                $('#btn50').click(function(event){
                  $('#btn25').removeClass('active');
                  $('#btn50').removeClass('active');
                  $('#btn100').removeClass('active');

                  $('#btn50').addClass('active');

                  $('#amount_display').text('Rs. 50');
                  $('#tests').text(' for 10 tests');
                  $('#amount').val("50");


                });

                $('#btn100').click(function(event){
                  $('#btn25').removeClass('active');
                  $('#btn50').removeClass('active');
                  $('#btn100').removeClass('active');

                  $('#btn100').addClass('active');

                  $('#amount_display').text('Rs. 100');
                  $('#tests').text(' for 20 tests');
                  $('#amount').val("100");


                });



});   

</script>



</html>